.radio-container {
    color: var(--dark-grey);
    cursor: pointer;
    font-size: var(--radio-button-font-size);
    padding: var(--radio-button-padding);
    position: relative;
    margin-right: var(--radio-button-margin-right);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-container.checked {
    color: var(--dark-grey);
  }
  
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--radio-button-circle-size);
    width: var(--radio-button-circle-size);
    border-radius: 50%;
    border: var(--radio-button-border);
  }
  
  .radio-container input:checked ~ .checkmark {
    background-color: var(--white);
    border: var(--radio-button-focused-border);
  }
  
  .radio-container input:disabled ~ .checkmark {
    opacity:.6;
  }
  
  .radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: var(--radio-button-selected-circle-size);
    height: var(--radio-button-selected-circle-size);
    border-radius: 50%;
    background: var(--radio-button-circle-color);
  }
  
  .radiobutton-focused, .radio-container:focus {
    border: var(--radio-button-labelled-focused-border);
  }
  