
:root {
    --close-cross-icon-height: 16px;
    --close-cross-icon-width: 16px;
    --close-cross-icon-margin: 3px;
    --close-cross-icon-fill: var(--magenta);
    --close-cross-icon: url(../../icons/focuson/close-cross-icon.svg);
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    /*width: calc(960px * 0.6);*/
    transform: translate(-50%, -50%);
    background-color: var(--white);
    z-index: 400;
    padding: 32px;
}

.dialog.loading {
    position: relative;
    top: 0;
    left: 0;
    /* width: calc(960px * 0.6); */
    transform: none;
    background-color: var(--white);
    z-index: 400;
    padding: 32px;
}

.dialog-header {
    color: var(--h3-brand-colour);
    font-size: var(--h3-font-size);
    margin: 0 0 32px;
    font-weight: 100;
}

.dialog-text {
    margin-bottom: 32px;
    white-space: pre-wrap;
    min-width: 500px;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    clear: both;
    min-height: 50px;
    width: 100%;
}

.dialog-buttons .button {
    margin-left: 0;
    margin-right: 30px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: var(--h3-line-height);
    padding: 0 0 10px 0;
    position: relative;
}

.header-title {
    position: absolute;
    left: 0;
    width: auto;
    height: 100%;
    color: var(--h3-brand-colour);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-family: var(--h3-font);
}

.header-close {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-image: var(--close-cross-icon);
    background-repeat: no-repeat;
    height: var(--close-cross-icon-height);
    width: var(--close-cross-icon-width);
    margin-top: var(--close-cross-icon-margin);
}

.cross-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-image: var(--close-cross-icon);
    background-repeat: no-repeat;
    height: var(--close-cross-icon-height);
    width: var(--close-cross-icon-width);
    margin-top: var(--close-cross-icon-margin);
}

/* HOS SPINNER CSS - START */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.wrapper-overlay-fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}

.content-block {
    display:flex;
    flex-direction:column;
}

.content-text-block {
    margin-top: 6rem;
    display:flex;
    flex-direction:column;
}

.wrapper-overlay {
    min-width: 20rem;
}

.dialog .wrapper-overlay button {
    display: none
}

@keyframes spinner {
    0%, 100% { opacity: 0; }
    10% { opacity: 3; }
}
.non-branded{
    box-sizing: border-box;
    width:20px;
    height:20px
}

.non-branded div{
    width: 0.4rem;
    box-sizing: border-box;
    height: 3rem;
    margin-top: -4rem;
    margin-left: -0.25rem;
    position: absolute;
    border-radius: 24px;
    left: 50%;
    top: 50%;
    border-top: 2rem solid darkgray;
    transform: rotate(calc(var(--i) * 33deg));
    transform-origin: 50% 100%;
    animation: spinner 1.2s calc((var(--i) - 32) * 0.1s) infinite;
}

.non-branded div:nth-child(1) { --i: 0; }
.non-branded div:nth-child(2) { --i: 1; }
.non-branded div:nth-child(3) { --i: 2; }
.non-branded div:nth-child(4) { --i: 3; }
.non-branded div:nth-child(5) { --i: 4; }
.non-branded div:nth-child(6) { --i: 5; }
.non-branded div:nth-child(7) { --i: 6; }
.non-branded div:nth-child(8) { --i: 7; }
.non-branded div:nth-child(9) { --i: 8; }
.non-branded div:nth-child(10) { --i: 9; }
.non-branded div:nth-child(11) { --i: 10; }
.non-branded div:nth-child(12) { --i: 11; }
.non-branded div:nth-child(12) { --i: 13; }

/* HOS SPINNER CSS - START */

