.fetcher-debug {
    border: 1px black;
}

.fetcher-debug > table > thead > th {
    text-align: left;
}

.debug-tag-undefined {
    background-color: red;
}

.display-guards {
    border: 1px solid lightblue;
    background-color: lightgray;
}

.guard-true {
    color: green;
}

.guard-false {
    color: red;
}

.json-key {
    color: brown;
}

.json-value {
    color: navy;
}

.json-string {
    color: olive;
}

#debug-container {
    padding: 10px 0;
    font-size: 80%;
}

#debug-container button {
    background-color: aliceblue;
    color: #000;
}

#debug-bucket {
    display: inline-flex;
}

#debug-log ul li,
#debug-trace ul li {
    /* display: table-cell; */
    display: inline-block;
    padding: 2px;
    /* height: 100px; */
    /* list-style-type: none; */
    /* margin: 10px; */
    /* vertical-align: middle; */
}

#debug-log button {
    /* background-color: lightsteelblue; */
    /* color: #000; */
    min-width: 10rem;
    padding: 1px;
}

#debug-trace button {
    /* background-color: lightskyblue;
      color: #000; */
    min-width: 6rem;
    padding: 1px;
}

.accordion {
    max-width: 600px;
    margin: 2rem auto;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #21aeca;
}

.accordion-title:hover {
    background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #39b9d2;
}

.toggleButton {
    border: 1px solid blue;
    background: aliceblue;
    color: black;
    margin: 0;
    border-radius: 0;
}

.extra-info {
    color: rgb(165, 159, 133);
    font-style: italic;
    padding: 0 0 0 10px;
}

#debug-state-container li {
    padding: 2px;
    min-width: 15rem;
}

#debug-state-container label,
#debug-state-container input {
    font-size: inherit;
    width: auto;
}

#debug-state-container select {
    font-size: inherit;
    width: calc(100% - 20px);
    padding-right: 2rem;
}

#debug-pages-container button {
    background: brown;
    border: none;
    color: white;
    padding: 5px;
    margin: 0 2px 2px 0;
}

.debug-page-data {
    min-width: 50vw;
}

.debug-page-title {
    font-weight: bold;
}

#debug-pages-container,
#debug-state-container,
#debug-context-container,
#debug-raw-state-container,
#debug-tracing-container,
#debug-messages-container,
#debug-tags-container {
    overflow-x: auto;
}

#debug-pages-container table,
#debug-validation-container table,
#debug-state-container table,
#debug-context-container table,
#debug-raw-state-container table,
#debug-tracing-container table,
#debug-messages-container table,
#debug-tags-container table {
    width: 100%;
}

#debug-pages-container table > thead > tr > th,
#debug-state-container table > thead > tr > th,
#debug-validation-container table > thead > tr > th,
#debug-context-container table > thead > tr > th,
#debug-raw-state-container table > thead > tr > th,
#debug-tracing-container table > thead > tr > th,
#debug-messages-container table > thead > tr > th,
#debug-tags-container table > thead > tr > th {
    background-color: #000000;
    color: #ffffff;
}

#debug-pages-container table > tbody > tr > td,
#debug-state-container table > tbody > tr > td,
#debug-context-container table > tbody > tr > td,
#debug-raw-state-container table > tbody > tr > td,
#debug-tracing-container table > tbody > tr > td,
#debug-messages-container table > tbody > tr > td,
#debug-tags-container table > tbody > tr > td {
    vertical-align: top;
    /*width: 50%;*/
    word-break: break-all;
}

#debug-pages-container table > tbody > tr > td > div > ul,
#debug-state-container table > tbody > tr > td > div > ul,
#debug-context-container table > tbody > tr > td > div > ul,
#debug-raw-state-container table > tbody > tr > td > div > ul,
#debug-tracing-container table > tbody > tr > td > div > ul,
#debug-messages-container table > tbody > tr > td > div > ul {
    padding: 0;
}

#debug-pages-container table > tbody > tr > td > div > ul > li,
#debug-state-container table > tbody > tr > td > div > ul > li,
#debug-context-container table > tbody > tr > td > div > ul > li,
#debug-raw-state-container table > tbody > tr > td > div > ul > li,
#debug-tracing-container table > tbody > tr > td > div > ul > li,
#debug-messages-container table > tbody > tr > td > div > ul > li,
#debug-tags-container table > thead > tr > th {
    word-break: break-all;
}

#debug-tags-container table > tbody > tr > td > div > ul > li {
    /* display: block; */
    min-width: 48%;
}

#debug-tracing-container table > tbody > tr > td > button.button-copy {
    padding: 1px;
    margin: 2px;
    border: none;
}

#debug-tracing-container table > tbody > tr > td > div.tooltip > span.tooltiptext > button.button-copy {
    padding: 1px;
    margin: 2px;
    border: none;
    float: right;
    position: relative;
    top: 0;
    left: -20px;
}

#debug-tracing-container table > tbody > tr > td > button.button-copy:hover {
    top: 2px;
    left: 2px;
    cursor: pointer;
}

#debug-tracing-container table > tbody > tr > td > div.tooltip > span.tooltiptext > button.button-copy:hover {
    cursor: pointer;
}

.show-copy-icon {
    display: inline-block;
}

.hide-copy-icon {
    display: none;
}

#debug-tracing-container table > tbody > tr > td, #debug-pages-container table > tbody > tr > td {
    background: whitesmoke;
}

#debug-tracing-container table > tbody > tr > td > ul {
    margin: inherit;
    padding: 0;
}

#debug-tracing-container table > tbody > tr > td > ul > li {
    display: block;
    padding: 0;
}

.icon-copy {
    background-image: url(../../icons/focuson/calendar.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 16px top 50%, 0 0;
    background-size: .75em auto, 100%;
    background-color: var(--dropdown-container-background);
}

.tooltip {
    position: absolute;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: none;
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display: inline-block;
}

.tooltip > .tooltiptext > pre {
    border: 1px solid green;
    background-color: lightgreen;
}
