#container {
    display: block;
    background: #fff;
    padding: 5px 25px;
}

.mainPage {
    border: 1px solid black;
    padding: 20px;
    height: auto;
    position: relative;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.modalPopup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modalPopup-content {
    position: relative;
    top: 10%;
    margin: auto;
    padding: 10px;
    background-color: white;
    border: 5px solid var(--modal-border-color, black);
    border-radius: 0.5rem;
    width: 70%;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalPageContainer {
    position: absolute;
    top: 50px
}

.top-right-cross {
    color: pink;
    float: right;
    margin-right: 2px;
    top: 2px;
    border-color: darksalmon;
}