
.tooltip-wrap {
    position: relative;
}

.tooltip-wrap .errormessage {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}

.tooltip-wrap:hover .errormessage {
    outline: 2px solid red;
    display: block;
    /*display: none; !*    Uncomment the line to get the data back*!*/
}

.tooltip-wrap:hover .errormessage:empty {
    outline: 2px solid red;
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col {
    flex: 1 0 0;
}

.validity-true {
}

.validity-false {
    background-color: red;
    color: white;
}

table {
    margin: 0 0 20px 0;
}

.highlight {
    color: red;
}

.labelDropdownButton {
    width: 100%;
    /* display: flex; */
    align-items: center;
    margin: 0 0 20px 0;
}

.labelAndDate {
    /* display: flex; */
    align-items: center;
    margin: 0 0 20px 0;
}

.labelDropdown {
    /* display: flex; */
    align-items: center;
    margin: 0 0 20px 0;
}

.labelValue {
    justify-content: space-between;
    /* display: flex; */
    align-items: center;
}

.labelValueButton {
    /*width: 100%;*/
    /* display: flex; */
    align-items: center;
    margin: 0 0 20px 0;
}

.labelRadioButton {
    /* display: flex; */
    align-items: center;
    margin: 0 0 20px 0;
}

.labelCheckboxButton {
    display: flex;
    align-items: center;
    margin: 0 0 38px 0;
}

label {
    color: var(--form-label-colour);
    font-size: var(--font-size-main);
}

select {
    height: 1.625rem;
}

input[type=text],
input[type=number],
input[type=date],
select, textarea.input {
    width: 99%;
}

.labelWidth10 label,
.inputWidth10 input[type=text],
.inputWidth10 input[type=number],
.inputWidth10 input[type=date],
.inputWidth10 select,
.inputWidth10 textarea.input {
    width: 10%;
}

.labelWidth15 label,
.inputWidth15 input[type=text],
.inputWidth15 input[type=number],
.inputWidth15 input[type=date],
.inputWidth15 select,
.inputWidth15 textarea.input {
    width: 15%;
}

.labelWidth20 label,
.inputWidth20 input[type=text],
.inputWidth20 input[type=number],
.inputWidth20 input[type=date],
.inputWidth20 select,
.inputWidth20 textarea.input {
    width: 20%;
}

.labelWidth25 label,
.inputWidth25 input[type=text],
.inputWidth25 input[type=number],
.inputWidth25 input[type=date],
.inputWidth25 select,
.inputWidth25 textarea.input {
    width: 25%;
}

.labelWidth30 label,
.inputWidth30 input[type=text],
.inputWidth30 input[type=number],
.inputWidth30 input[type=date],
.inputWidth30 select,
.inputWidth30 textarea.input {
    width: 30%;
}

.labelWidth35 label,
.inputWidth35 input[type=text],
.inputWidth35 input[type=number],
.inputWidth35 input[type=date],
.inputWidth35 select,
.inputWidth35 textarea.input {
    width: 35%;
}

.labelWidth40 label,
.inputWidth40 input[type=text],
.inputWidth40 input[type=number],
.inputWidth40 input[type=date],
.inputWidth40 select,
.inputWidth40 textarea.input {
    width: 40%;
}

.labelWidth45 label,
.inputWidth45 input[type=text],
.inputWidth45 input[type=number],
.inputWidth45 input[type=date],
.inputWidth45 select,
.inputWidth45 textarea.input {
    width: 45%;
}

.labelWidth49 label,
.inputWidth49 input[type=text],
.inputWidth49 input[type=number],
.inputWidth49 input[type=date],
.inputWidth49 select,
.inputWidth49 textarea.input {
    width: 49%;
}

.labelWidth50 label,
.inputWidth50 input[type=text],
.inputWidth50 input[type=number],
.inputWidth50 input[type=date],
.inputWidth50 select,
.inputWidth50 textarea.input {
    width: 50%;
}

.labelWidth55 label,
.inputWidth55 input[type=text],
.inputWidth55 input[type=number],
.inputWidth55 input[type=date],
.inputWidth55 select,
.inputWidth55 textarea.input {
    width: 55%;
}

.labelWidth60 label,
.inputWidth60 input[type=text],
.inputWidth60 input[type=number],
.inputWidth60 input[type=date],
.inputWidth60 select,
.inputWidth60 textarea.input {
    width: 60%;
}

.labelWidth65 label,
.inputWidth65 input[type=text],
.inputWidth65 input[type=number],
.inputWidth65 input[type=date],
.inputWidth65 select,
.inputWidth65 textarea.input {
    width: 65%;
}

.labelWidth70 label,
.inputWidth70 input[type=text],
.inputWidth70 input[type=number],
.inputWidth70 input[type=date],
.inputWidth70 select,
.inputWidth70 textarea.input {
    width: 70%;
}

.labelWidth75 label,
.inputWidth75 input[type=text],
.inputWidth75 input[type=number],
.inputWidth75 input[type=date],
.inputWidth75 select,
.inputWidth75 textarea.input {
    width: 75%;
}

.labelWidth80 label,
.inputWidth80 input[type=text],
.inputWidth80 input[type=number],
.inputWidth80 input[type=date],
.inputWidth80 select,
.inputWidth80 textarea.input {
    width: 80%;
}

.labelWidth85 label,
.inputWidth85 input[type=text],
.inputWidth85 input[type=number],
.inputWidth85 input[type=date],
.inputWidth85 select,
.inputWidth85 textarea.input {
    width: 85%;
}

.labelWidth90 label,
.inputWidth90 input[type=text],
.inputWidth90 input[type=number],
.inputWidth90 input[type=date],
.inputWidth90 select,
.inputWidth90 textarea.input {
    width: 90%;
}

.labelWidth95 label,
.inputWidth95 input[type=text],
.inputWidth95 input[type=number],
.inputWidth95 input[type=date],
.inputWidth95 select,
.inputWidth95 textarea.input {
    width: 95%;
}

.labelWidth100 label,
.inputWidth100 input[type=text],
.inputWidth100 input[type=number],
.inputWidth100 input[type=date],
.inputWidth100 select,
.inputWidth100 textarea.input {
    width: 100%;
}

#default_template {
    border: 1px solid #ddd;
    padding: 10px;
}

.glassPane {
    min-height: 100vh;
    position: relative;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 0 20px;
}

.inline-block {
    display: inline-block;
}

.d-flex-inline {
    display: inline-flex;
}

.p-2 {
    padding: 2px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    /* box-shadow: 0 8px 8px -4px lightblue; */
    box-shadow: 4px 8px 16px 0 rgb(170, 154, 181);
    margin: 0 0 20px 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.custom-error {
    /* background: #c51244; */
    padding: 10px;
    border-radius: 0;
    position: relative;
    display: inline-block;
    box-shadow: 1px 1px 1px #c51244;
    margin-top: 10px;
    border: 1px solid #c51244;
}

.custom-error:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;
    top: -10px;
}

.red-border {
    border: 3px solid #dc3545 !important;
}

button + div.labelValueButton {
    margin: 0;
    width: 100%;
}

.dropdown-container {
    box-shadow: none;
    width: 100%;
    margin: 0 0 20px 0;
    min-width: 272px;
    min-height: 42px;
}

table.grid {
    min-height: 150px;
}

div.card {
    min-height: 97.5%;
}

button[id^="selectPage"] {
    min-width: 18.1rem;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.inputAndButtons,
.dropdownAndButtons {
    display: flex;
}

.inputAndButtons > button.button,
.dropdownAndButtons > button.button {
    float: right;
}

.TwoColRow select {
    width: 98%;
}

.primary-btn {
    margin: var(--button-primary-margin)
}

.secondary-btn {
    margin: var(--button-primary-margin)
}

#default_template > .tooltip-wrap > button {
    margin-bottom: 1rem;
}

.buttons-in-card >.button-span > .tooltip-wrap > button{
    margin-bottom: 1rem;
}



