
ol,
ul {
    padding-left: 30px;
}

li {
    display: inline-block;
    padding: 10px 15px 0 0;
}

h1 {
    color: var(--h1-custom-brand-colour);
    font-size: var(--h1-custom-font-size);
    margin: 1rem 0;
    /* line-height: var(--h1-custom-line-height); */
    /* font-weight: bold; */
}

h2 {
    color: var(--h1-custom-brand-colour);
    margin: 1rem 0;
    /* line-height: var(--h1-custom-line-height); */
    /* font-weight: bold; */
}