body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}
label {
    width: 180px;
}
table {
    border-collapse: collapse;
}

.outlined, table, th, td {
    border: 1px solid;
}

.status {
    margin-bottom: 10px;
}

input.view {
    border: none;
    text-decoration: none;
    text-underline: none;
}
input:invalid {
    background: #ffdddd;
}
input:valid{
    background:#ddffdd;
}

#container {
    position: relative;
    width: auto;
    height: 1024px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    margin: 3px!important;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #008CBA;
}

button:disabled {
    background-color: white;
    color: gray;
    border: 2px solid gray;
}

.mainPage {
    border: 1px solid black;
    padding: 20px;
    height: auto;
    position: relative;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.modalPage {
    border: 1px solid black;
    padding: 20px;
    background: whitesmoke;
    position: absolute;
    width: 100%;
    top: 120px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5);
    display: none;
}