body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}
table {
    border-collapse: collapse;
}

.outlined, table, th, td {
    border: 1px solid;
}

.status {
    margin-bottom: 10px;
}

input {
    font-size: revert;
}

input.view {
    border: none;
    text-decoration: none;
    text-underline: none;
}
input:invalid {
    background: #ffdddd;
    border: 1px solid red;
}
input:valid{
    background: none;
}

#container {
    height: 1024px;
    display: block;
    width: 100%
}

button {
    min-width: 50px;
    background-color: white;
    color: black;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    margin: 3px!important;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
}

button:disabled {
    background-color: white;
    color: gray;
    border: 2px solid gray;
}

.mainPage {
    border: 1px solid black;
    padding: 20px;
    height: auto;
    position: relative;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 15px
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: lightgray;}

.labelDropdownButton {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.labelDropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.labelValue {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.labelValueButton {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    width: 350px;
}

select {
    height: 30px;
}

.modalPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modalPopup-content {
    position: absolute;
    top: 40%;
    left: 20%;
    padding: 20px;
    background-color: white;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#container {
    position: relative;
    width: 1024px;
}

#modalPage {
    position: absolute;
    top: 130px;
    background-color: white;
    width: 100%;
    height: 100%
}

.modalPageContainer {
    position: absolute;
    top: 50px
}