.bsp/
proxy/
null/
.idea
.idea_modules
*.iml
target/
project/target
_site/
Gemfile.lock
.lib
.DS_Store
sbt
.sbt-local
.history
.ensime
.ensime_cache/
sbt
sbt-launch.jar
repositories-truststore.jks
repositories
modules/playSample/
project/project/
dbsold/
*.jar
# *.html
*.xlsx
dbs/
testData/
node_modules/
*.log
.profile
.status
.eslintcache
*.d.ts
build/
coverage/
logs/
pact-binaries/
core.*
csvids/