.input[type="text"], .input[type="number"] {
    font-family: var(--input-font-family);
    font-size: var(--font-size-main);
    color: var(--color-text, #000000);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    display: inline-block;
    padding: var(--input-padding);
    color: var(--dark-grey-2);
    border-radius: var(--input-border-radius);
    background: white;
    height: 100%;
  }

  .input[type="date"]
  {
  
    font-family: var(--input-font-family);
    font-size: var(--font-size-main);
    color: var(--color-text, #000000);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--dark-grey-2);
    border-radius: var(--input-border-radius);
    background: white;
    height: 42px;
  
  }
  
  .input[type="date"]:focus {
    font-size:var(--input-font-size);
    border: var( --input-border-focus);
    outline: none;
    border-radius: 0 0 var(--input-bevel) var(--input-bevel);
    box-sizing: border-box;
    color: var(--dark-grey);
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .input[type="text"]:-ms-input-placeholder, .input[type="number"]:-ms-input-placeholder {
    color: var(--input-placeholder-color);
  }
    
  .input[type="text"]:focus, .input[type="number"]:focus {
    font-size:var(--input-font-size);
    border: var( --input-border-focus);
    outline: none;
    border-radius: 0 0 var(--input-bevel) var(--input-bevel);
    padding: var(--input-focus-padding);
    box-sizing: border-box;
    color: var(--dark-grey)
  }

  .input-label {
    font-family: var(--input-font-family);
    color: var(--dark-grey-2);
    margin-bottom: 8px;
    display: flex;
  }
  
  .input-label.error {
    color: var(--red);
  }
  