.radio-container {
    color: var(--dark-grey);
    cursor: pointer;
    font-size: var(--radio-button-font-size);
    padding: var(--radio-button-padding);
    position: relative;
    margin-right: var(--radio-button-margin-right);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-container.checked {
    color: var(--dark-grey);
  }
  
  .radio-container input {
    position: absolute;
    cursor: pointer;
    top: -4px;
    left: 0;
    border: 0px;
    height: 2em;
  }

  .radiobutton-focused, .radio-container:focus {
    border: var(--radio-button-labelled-focused-border);
  }
  